/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    margin: 0;
    padding: 0;
    
    font-size: 16px;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a.a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
/*COMMON*/
.p-cursor{
    cursor: pointer;
}
.p-flex{
    display: flex;
}
.p-flex-align-center{
    align-items: center;
}
.p-flex-jc-sb{
    justify-content: space-between;
}
.p-readmore{
    color: black;
    
    font-weight: 600;
}
.p-readmore img{
    transition: all .5s;
    transform: translateX(0);
}
.p-readmore:hover img{
    transform: translateX();
}
/*WRAPPER CLASS*/
.p-wrapper
{
    position: relative;
}
.p-wrapper::before
{
    content:"";
    content: "";
    background: #8b680e;
    height: 350vh;
    width: 25vw;
    position: absolute;
    z-index: -1;
}
