<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"> 
                </div>
            </div>
            <div class="col-sm-7">
            <span class="p-tag">Developer | Student </span>
            <h1 class="mt-4">     Hi I'm <br>Teny Antony</h1>
                     <p class="p-des mt-3">I'm a Freelancer Web Developer from Kochi. Currently I'm a student at KMEA ENGINEERING COLLEGE of 
                       B_Tech Mechanical. There is not so much to explain in my background
                       I love new technologies.I'm just simple.
                     </p>
                     <hr>
                     <div class="about">
                     <p> <li><b>Engineering Student</b></li>
                    <li> <b>Birthday:</b> 1st March 2001</li>
                     <li><b>Lives in:</b> Kochi city </li>
                    <li><b>Phone: </b>+918129053340</li>
                  <li><b>Email: </b>virtualteny@gmail.com</li>
                <li><b>Age:</b> 20</li></p>
                      </div>
                      <hr>
                      <div class="h2service">
                          <b><h3><u>How can i be of service--</u></h3></b>
                           <p>Im a wordpress and angular web deveploper. If you are 
                             interested for a small-scale website you can contact me. 
                             I'm just an engineer who knows stuff related to web and so on,
                             I can provide you with any matters related to ANGULAR and other platforms.
                             I  studied and developed more about this framework.
                          </p></div>
                     
                     <hr>
                     <div class="h3"></div>
                       <div class="education"><h3><u>EDUCATION</u></h3>
                       <li><b>KMEA ENGINEERING COLLEGE</b></li>
                       <i>B-Tech Mechanical Engineering -->2018-2022</i>
                     </div>
                     <hr>

                     <div class="achmnts">
                       <h3><u>ACHEIVEMENTS</u></h3>
                       <p><li>Member of Hackclub</li>
                       <li>Member of IEEE Group</li>
                       <li>Member of IEDC Summit</li>
                       <li>Member of Tinkerhub</li></p>
                     </div>
                     <hr>

                     <div class="pi">
                       <h3><u>PERSONAL INTERESTS</u></h3>
                       <p>My personal interests are in mainly of computers
                         I'm intersted in mainly of electric cars and AI.
                         As more of a tech guy i love to meet more people who
                         are also likely to be interested in Technology.
                       </p>
                       <hr>
                     </div>

                     <div class="skills">
                       <h3><u>MY SKILLS</u></h3>
                       <li>Front end web developer</li>
                       <li>C++ Programmer</li>
                       <li>HTML5</li>
                       <li>Wordpress</li>
                       <li>Angular</li>
                       <li>3D Drawings <i>(mainly of solidworks)</i></li>
                     </div><hr>

                     <div class="works">
                       <h3><u>MY WORKS</u></h3>
                       <p><li>Portfolio Website using angular</li>
                       <li>Projects using ARDUINO</li>
                       <li>Formula F5 car</li>
                       </p>
                     </div>
                     <hr>

                     <div class="form">
                     <p><u><b>Ping Me here</b></u></p><br>
                      <form action="/action_page.php">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname" value=""><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname" value=""><br><br>
                        <label for="message">Ping Me:</label><br>
                        <input type="text" id="message" value=""><br><br>
                        <input type="submit" value="Submit">
                      </form> <br>
                      <br>
                     </div><hr>

                     <div class="reach">
                       <h3><u>CONTACT ME</u></h3>
                       <br>
                        <div class="centerdiv">
                        <a href="https://www.facebook.com/teny.antony.33" class="fa fa-facebook"></a>
                        <a href="https://www.twitter.com/virtualteny" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/virtualteny" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/in/teny-antony-4498281a0" class="fa fa-linkedin"></a>
                        <hr><hr>
                     </div>
   
      </div>
      </div>
    </div>
</div>
</section>
